<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-6 ">
        <div class="footer__social">

          <!-- social-icon -->
          <a class="social-icon" href="https://www.linkedin.com/in/lijing-wang">
            <i class="social-icon__icon fa fa-linkedin"></i>
          </a>
          <!-- End / social-icon -->


          <!-- social-icon -->
          <a class="social-icon" href="https://github.com/GrinJessie">
            <i class="social-icon__icon fa fa-github-alt"></i>
          </a>
          <!-- End / social-icon -->

        </div>
      </div>


      <div class="col-md-6 col-lg-6 footer__coppy">
        <p>"Minimus template" is licensed under
        <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> by Lijing Wang, is a derivative of
            <a href="https://themewagon.com/themes/free-responsive-personal-portfolio-template-download/"> Minimus - Free HTML5 Responsive Personal Portfolio Template"</a> by
            <a href="http://awe7.com/">Awe7</a> (2018 &copy; Copyright, all rights reserved)</p>
      </div>

    </div>
  </div>
</div>
<!-- End / footer -->