<!DOCTYPE html>
<html>
	<head>
		<% include partials/analytics %>
		<title>About</title>
		<% include partials/title %>
	</head>

	<body>
		<div class="page-wrap" id="root">

		<% include partials/header %>


			<!-- Content-->
			<div class="wil-content">

				<!-- Section -->
				<section class="awe-section">
					<div class="container">

						<!-- page-title -->
						<div class="page-title pb-40">
							<h2 class="page-title__title">About me</h2>
							<p class="page-title__text">A passionate solution provider, a calm prioritizer, a friendly team contributor. I'm greedy
							and hope to learn deeper and broader.</p>
							<div class="page-title__divider"></div>
						</div><!-- End / page-title -->

					</div>
				</section>
				<!-- End / Section -->


				<!-- Section -->
				<section class="awe-section bg-gray">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-5 "><img src="https://images.pexels.com/photos/797558/pexels-photo-797558.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt="">
							</div>
							<div class="col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">

								<!--  -->
								<div class="mt-30">
									<h2 class="about__title">Lijing Wang</h2>
									<p class="about__subtitle">On my way to a techie</p>
									<p class="about__text">I enjoy how powerful I'm with the programming skills. I'm dreaming about what I will achieve at the age of 50.</p>

									<p class="about__subtitle">World citezen</p>
									<p class="about__text">Made in China. Value-add manufatured in Canada. Embedded passion on languages/translations ➕ cultural facts & perspectives.</p>

									<p class="about__subtitle">A three dimonsional being</p>
									<p class="about__text">Love rocks, soils, plants, animals! Emm... I don't have a green thumb tho.</p>

									<p class="about__subtitle">Sports???</p>
									<p class="about__text">Maybe eye exercises like reading? I do like yoga, canoeing, xbox sports, and badminton!</p>


									<!-- progress -->
									<div class="progress">
										<h5 class="progress__title">green thumb</h5>
										<div class="progress__wrap">
											<div class="progress__bar" data-progress-percent="3" data-timing="ease" data-duration="1000" data-delay="500"></div><span class="progress__number">39%</span>
										</div>
									</div><!-- End / progress -->


									<!-- progress -->
									<div class="progress">
										<h5 class="progress__title">photography</h5>
										<div class="progress__wrap">
											<div class="progress__bar" data-progress-percent="40" data-timing="ease" data-duration="1000" data-delay="500"></div><span class="progress__number">47%</span>
										</div>
									</div><!-- End / progress -->


									<!-- progress -->
									<div class="progress">
										<h5 class="progress__title">web development</h5>
										<div class="progress__wrap">
											<div class="progress__bar" data-progress-percent="75" data-timing="ease" data-duration="1000" data-delay="500"></div><span class="progress__number">59%</span>
										</div>
									</div><!-- End / progress -->

								</div><!-- End /  -->

							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->

			</div>
			<!-- End / Content-->

		<% include partials/footer %>


		</div>
		<!-- Vendors-->
		<script type="text/javascript" src="/vendors/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="/vendors/isotope-layout/isotope.pkgd.js"></script>
		<script type="text/javascript" src="/vendors/jquery-one-page/jquery.nav.min.js"></script>
		<script type="text/javascript" src="/vendors/jquery.easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
		<script type="text/javascript" src="/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="/vendors/masonry-layout/masonry.pkgd.js"></script>
		<script type="text/javascript" src="/vendors/jquery.waypoints/jquery.waypoints.min.js"></script>
		<script type="text/javascript" src="/vendors/swiper/swiper.jquery.js"></script>
		<script type="text/javascript" src="/vendors/menu/menu.js"></script>
		<script type="text/javascript" src="/vendors/typed/typed.min.js"></script>
		<!-- App-->
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>